<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link rel="stylesheet" href="/styleSheet.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <div class="container-fluid">
    <form action="/submit" method="POST">
      <div class="row">
        <h2>Kiểm tra độ am hiểu của Hằng về Hưng</h2>
      </div>
      <div class="row">
        <div class="col">
          <h3>1. qhung từng nuôi pet nào?</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[1][]">
            <label class="form-check-label" for="">
              Chó
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[1][]">
            <label class="form-check-label" for="">
              Mèo
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[1][]">
            <label class="form-check-label" for="">
              Rùa
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="1" name="checkbox[1][]">
            <label class="form-check-label" for="">
              Ba Ba
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>2. qhung cao bao nhiêu?</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[2][]">
            <label class="form-check-label" for="">
              1.65m
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[2][]">
            <label class="form-check-label" for="">
              1.66m
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[2][]">
            <label class="form-check-label" for="">
              1.67m
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="2" name="checkbox[2][]">
            <label class="form-check-label" for="">
              1.68m
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>3. qhung sinh ngày mấy?</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[3][]">
            <label class="form-check-label" for="">
              5/5
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="3" name="checkbox[3][]">
            <label class="form-check-label" for="">
              24/7
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[3][]">
            <label class="form-check-label" for="">
              12/7
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[3][]">
            <label class="form-check-label" for="">
              3/2
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>4. qhung từng học trường cấp hai nào?</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[4][]">
            <label class="form-check-label" for="">
              Nguyễn Gia Thiều
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[4][]">
            <label class="form-check-label" for="">
              Bàn Cờ
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[4][]">
            <label class="form-check-label" for="">
              Lê Văn Sỹ
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="4" name="checkbox[4][]">
            <label class="form-check-label" for="">
              Lê Lợi
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>5. qhung là người như thế nào?</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[5][]">
            <label class="form-check-label" for="">
              Lạc quan, iu đời
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="5" name="checkbox[5][]">
            <label class="form-check-label" for="">
              Bi quan, nghĩ nhìu
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[5][]">
            <label class="form-check-label" for="">
              Vô lo, vô nghĩ
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[5][]">
            <label class="form-check-label" for="">
              Điềm đạm, cẩn trọng
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3>6. qhung trước đây có thích màu xanh lá không?</h3>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="" name="checkbox[6][]">
            <label class="form-check-label" for="">
              Có
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="6" name="checkbox[6][]">
            <label class="form-check-label" for="">
              Không
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <button type="submit" onclick="validate()">Gửi đi</button>
        <!-- <input type="button" onclick="validate()" value="Gửi đi"> -->
      </div>
      <input type="text" id="correctNumber" name="answer" value="1">
    </form>
  </div>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <script>
    $("input:checkbox").on('click', function () {
      // in the handler, 'this' refers to the box clicked on
      var $box = $(this);
      if ($box.is(":checked")) {
        // the name of the box is retrieved using the .attr() method
        // as it is assumed and expected to be immutable
        var group = "input:checkbox[name='" + $box.attr("name") + "']";
        // the checked state of the group/box on the other hand will change
        // and the current value is retrieved using .prop() method
        $(group).prop("checked", false);
        $box.prop("checked", true);
      } else {
        $box.prop("checked", false);
      }
    });

    function validate() {
      var correct = 0;
      // var number = document.getElementById("correctNumber").innerHTML;
      var number = document.getElementById("correctNumber").value;
      if (document.getElementById("1").checked == true) {
        correct++;
      }
      if (document.getElementById("2").checked == true) {
        correct++;
      }
      if (document.getElementById("3").checked == true) {
        correct++;
      }
      if (document.getElementById("4").checked == true) {
        correct++;
      }
      if (document.getElementById("5").checked == true) {
        correct++;
      }
      if (document.getElementById("6").checked == true) {
        correct++;
      }
      // document.getElementById("correctNumber").innerHTML = number.replace("", correct);
      document.getElementById("correctNumber").value = correct;
    }
  </script>
</body>

</html>