<!doctype html>
<html lang="en">

<head>
  <title>KẾT QUẢ</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <header>
    <!-- place navbar here -->
  </header>
  <main>
    <h1>CHÚC MỪNG BẠN ĐÃ LÀM ĐÚNG HẾT <%=correctNumber%>/6 CÂU</h1>
    <p>Đã 2 tháng tụi mình quen nhau, một cột mốc đáng để nhớ :3<br>
    Tụi mình tuy vẫn còn một đời rất dài để đi nhưng chỉ còn ít tháng để bên nhau khi còn là học sinh.<br>
    Thật lòng mà nói, anh đã nghĩ rất nhiều nhưng anh chưa bao giờ và sẽ không bao giờ nghĩ đến chuyện bỏ cuộc.<br>
    Cùng nhau cố gắng và vượt qua những thử thách phía trước em nhé.</p>
    Gửi em, người yêu của anh ^^</p>
  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>
